@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@1,500&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,500&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF2;
}


/* Navbar Styles */
.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navbar_logo {
    text-decoration: none;
    color: #fff;
}

.navbar_main {
    list-style-type: none;
    display: flex;
}

.nav_item {
    margin: 0 10px;
    box-sizing: border-box;
}

.nav_link {
    text-decoration: none;
    color: #fff;
}

.nav_link:hover {
    color: #e44d26;
}

.icon-log {
    margin-right: 5px;
}


/* Formulario Styles */
.reg-sty {
    background-image: url('../img/banner\ 2.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    margin: 150px 0;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #e44d26, #DA9F5B);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked ~ .slider-tab {
    left: 50%;
}

#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked ~ label.login {
    color: #000;
}

#login:checked ~ label.signup {
    color: #000;
}

#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #e44d26;
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner form .pass-link {
    margin-top: 10px;
    padding-left: 5px;
    font-weight: bold;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #e44d26;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-act {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #e44d26, #DA9F5B, #e44d26, #DA9F5B);
    border-radius: 5px;
    transition: all 0.4s ease;;
}

form .btn:hover .btn-act {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}



/* Footer Styles */
.footer_part {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer_data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_data_info p {
    padding-top: 7px;
    font-size: 17px;
}

.footer_data_info a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer_data_info,
.footer_data_media,
.footer_data_schedules {
    flex: 1;
    margin: 0 20px;
    box-sizing: border-box;
}

.social_medias_links {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #000;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.social_medias_links:hover {
    background-color: #fff;
    color: #333;
}

.social_medias_links i {
    font-size: 18px;
}

.schedules_title,
.footer_cont_title,
.footer_cont_media {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    font-size: 25px;
}

.schedules_info {
    margin-top: 10px;
}

.footer_data_schedules h5 {
    font-size: 15px;
    color: #DA9F5B;
}

.footer_data_copy {
    text-align: center;
    margin-top: 20px;
}

.footer_copy,
.footer_data_poli {
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

.footer_copy a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer_data_poli {
    font-weight: bold;
}

.footer_copy a:hover,
.footer_data_poli:hover {
    border-bottom: 1px solid #fff;
}



/* Media Screen */
@media (max-width: 768px) {
    .data_story,
    .data_goals,
    .img_about {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .navbar {
        flex-direction: row;
    }

    .navbar_main {
        flex-direction: row;
    }

    .data_story,
    .data_goals,
    .img_about {
        width: auto;
    }
}