@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital,wght@1,500&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@300&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,500&family=Raleway:wght@100&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF2;
}


/* Navbar Styles */
.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navbar_logo {
    text-decoration: none;
    color: #fff;
}

.navbar_main {
    list-style-type: none;
    display: flex;
}

.nav_item {
    margin: 0 10px;
    box-sizing: border-box;
}

.nav_link {
    text-decoration: none;
    color: #fff;
}

.nav_link:hover {
    color: #e44d26;
}

.icon-log {
    margin-right: 5px;
}


/* Banner Styles */
header{
    font-family: 'Playfair Display', serif;
    background: url(../img/bg.png);
    background-size: cover;
    background-position:center;
    display: flex;
    height: 250px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .text_primary {
    font-weight: 1.17rem;
    font-size: 25px;
    color: #fff;
}

header .text_secondary {
    color: #DA9F5B;
    font-size: 40px;
}



/* Menu Styles */
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
    margin-bottom: 20px;
}

.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item{
    border: 2px solid #000;
    margin-top: 10px;
    width: 100%;
}

.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item{
    text-decoration: underline;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}



/* Cart Styles */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    margin-right: -100%;
    opacity: 0;
}

.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* Responsive */
@media screen and (max-width: 850px) {
    .contenedor {
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}



/* Footer Styles */
.footer_part {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer_data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_data_info p {
    padding-top: 7px;
    font-size: 17px;
}

.footer_data_info a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer_data_info,
.footer_data_media,
.footer_data_schedules {
    flex: 1;
    margin: 0 20px;
    box-sizing: border-box;
}

.social_medias_links {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #000;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.social_medias_links:hover {
    background-color: #fff;
    color: #333;
}

.social_medias_links i {
    font-size: 18px;
}

.schedules_title,
.footer_cont_title,
.footer_cont_media {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    font-size: 25px;
}

.schedules_info {
    margin-top: 10px;
}

.footer_data_schedules h5 {
    font-size: 15px;
    color: #DA9F5B;
}

.footer_data_copy {
    text-align: center;
    margin-top: 20px;
}

.footer_copy,
.footer_data_poli {
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

.footer_copy a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer_data_poli {
    font-weight: bold;
}

.footer_copy a:hover,
.footer_data_poli:hover {
    border-bottom: 1px solid #fff;
}